<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title><%= TACHI_NAME %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="<%= TACHI_NAME %> is a powerful, modular and modern rhythm game score tracker.">
	<link rel="icon" type="image/x-icon" href="<%= VITE_CDN_URL %>/logos/favicon.ico" />

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CRoboto:300,400,500,600,700"
		rel="stylesheet" />

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" />

	<script type="module" src="/src/index.tsx"></script>
</head>

<body id="kt_body">
	<noscript>
		You have JavaScript disabled, probably.<br />
		I also use a JavaScript blocker!<br />
		This site uses React to render its contents.<br />
		We don't use JS to track you or try to do anything malicious. You'll have
		to enable JS in order for this site to work.
	</noscript>
	<div id="root"></div>
	<div id="layout-portal"></div>
</body>

</html>
