.background-image {
    @extend .w-100;
    @extend .position-absolute;
    @extend .z-n1;
    opacity: 0.4;
    inset: 0;
    background-position: 50% 20%;
    background-repeat: no-repeat;
    background-size: cover;
    transition: height 150ms ease-in-out, margin-top 150ms ease-in-out;
    /*&::after {
        content: "";
        position: absolute;
        inset:0; 
        background-image: linear-gradient(to bottom, transparent, #131313)
    }*/
    @include media-breakpoint-up(md){
        height: 200px;
        margin-top: 80px;
    }
    @include media-breakpoint-down(md){
        height: 125px;
        margin-top: 45px;
    }
}
