.navbar-indicator {
	// always absolute. the indicator will not work if the display property is changed
	bottom: 0.5pt;
	height: 2px;
	transition: left 150ms ease-in-out, width 150ms ease-in-out;
}

.navbar-scroll {
	width: 0;
	z-index: 2;
	transition: width 50ms ease-out;
	> i {
		cursor: pointer;
		font-size: 0.75rem;
		&::before {
			transition: opacity 75ms linear;
			opacity: 0;
		}
	}
	&.show {
		width: 2.5rem;
		> i::before {
			opacity: 1;
		}
	}
}

@mixin navbar-scroll($direction) {
	.navbar-scroll-#{$direction} {
		background: linear-gradient(
			to #{$direction},
			transparent,
			var(--t-lightground) 33%
		);
		border-top-#{$direction}-radius: var(--bs-border-radius);
		border-bottom-#{$direction}-radius: var(--bs-border-radius);
		> i::before {
			position: absolute;
			#{$direction}: 0.66rem;
		}
	}
}

@include navbar-scroll(left);
@include navbar-scroll(right);
