.pfp {
    min-width: 128px;
    min-height: 128px;
    width: 128px;
    height: 128px;
    object-fit: cover;
    user-select: none;
    background-color: var(--bs-secondary);
    border-radius: var(--bs-border-radius);
    &-small{
        @extend .pfp;
        min-width: 32px;
        min-height: 32px;
        width: 32px;
        height: 32px;
    }
    &-supporter{
        width: 128px;
        height: 128px;
        border: .25rem solid var(--bs-warning);
        margin: auto;
        position: absolute;
        border-radius: var(--bs-border-radius);
        font-size: 11px;
    }
    &-badge{
        border-top-left-radius: var(--bs-border-radius);
    }
}