.skeleton {
    @extend .animation-pulse;
    background-color: var(--bs-secondary);
    &-pfp {
        @extend %pfp-128px;
        @extend .rounded;
    }
    &-pfp-small {
        @extend %pfp-32px;
        @extend .rounded
    }
    &-text {
        height: var(--bs-body-font-size);
        border-radius: var(--bs-border-radius-sm)
    }
    &-title {
        @extend .skeleton-text;
        width: 672px;
    }
    &-time {
        @extend .skeleton-text;
        width: 82px;
    }
    &-date {
        @extend .skeleton-text;
        width: 144px;
    }
}