# if you don't do this
# a windows clone will fail
# because the .sh scripts will have their \n's turned into
# \r\n, and then bash will fail to run \r as a command.
# the future is now.
*.sh text eol=lf
*.json text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.md text eol=lf
