node_modules

# ide stuffs
.idea
.vscode
.vs

# PNPM noise
.pnpm-debug.log
.pnpm-store

# Compiled output
js

# Ignore all .env's apart from example.env
.env
*.env
!example.env

# Ignore all conf.json5's apart from example.conf.json5
conf.json5
*.conf.json5
!example.conf.json5

# Redis dumps these files into PWD if it exits unexpectedly
*.rdb

# Don't want to check in logs
logs

# Anything about BFG stuff we shredded
...bfg-report

# Test coverages
.nyc_output
coverage
out.*
failed-tests.log

.tsbuildinfo

# bootstrap flag
I_HAVE_BOOTSTRAPPED_OK
database-seeds/scripts/rerunners/iidx/okapi-inf.js
database-seeds/scripts/rerunners/iidx/okapi-inf legg.js
