.tr-dropdown-container {
	padding: 4px;
	border-bottom: #{$table-border-width} solid #{$table-border-color};
	background-color: var(--bs-body-bg);
}

.quest-anchor {
	scroll-margin-top: 100px;
}

.tooltip-max > .tooltip-inner {
	width: 100%;
	max-width: unset !important;
}

@include media-breakpoint-up(lg) {
	.MuiTabs-flexContainer {
		width: 100%;
		justify-content: space-around;
	}
}

@include media-breakpoint-up(lg) {
	.session-raise-container {
		width: 100%;
		display: flex;
	}
}
@include media-breakpoint-down(md) {
	.session-raise-container {
		width: 100%;
		display: flex;
		flex-direction: column;
	}
}

.MuiTabs-scrollButtons.Mui-disabled {
	opacity: 0.3;
}

@import "tachi-custom/custom", "tachi-custom/hero", "tachi-custom/splash-screen";
