@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
	// This makes sizing make so much more sense to me
	// The only downside I see is margins dont "collapse" into each-other
	box-sizing: border-box;
}

h1,
h2,
p,
ul {
	// Funky behaviour relating to box-sizing: border-box.
	// Remove margin-top from elements to prevent them from "double spacing" each-other
	margin-top: unset;
}

html {
	// We could do theme switching but ¯\_(ツ)_/¯
	// We'd need to do an filter: invert() on the main logo png in light mode (or have a black-logo.png)
	--background-colour: #131313;
	--body-colour: #f7f7f7;
	--bokutachi-colour: #527acc;
	--kamaitachi-colour: #e61c6e;

	// This really only exists to stop me from making uneven spacing
	// Crazy how consistent spacing makes a site feel 100x more professional
	// There are smarter ways to do this but this works great for this set size
	--curviness: 4px;
	--sm-padding: calc(var(--curviness) * 2) calc(var(--curviness) * 3);
	--md-padding: calc(var(--curviness) * 4) calc(var(--curviness) * 6);
	--sm-gap: calc(var(--curviness) * 4);
	--md-gap: calc(var(--curviness) * 6);

	background: var(--background-colour);
	color: var(--body-colour);
	font-family: "Poppins", sans-serif;
}

html,
body {
	min-height: 100vh;
	padding: unset;
	margin: unset;

	a,
	p,
	li,
	h1,
	h2 {
		color: var(--body-colour);
	}
}

.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	max-width: 90ch;
	margin: 0 auto var(--md-gap);
	padding: var(--md-padding);

	.content {
		flex: 1 1 100%;

		h1 {
			display: flex;
			align-items: center;
			gap: 0.5ch;

			img {
				width: 1em;
				height: 1em;
				object-fit: contain;
			}
		}

		.services {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
			align-items: stretch;
			gap: var(--md-gap);
			margin-bottom: var(--md-gap);

			.service {
				display: flex;
				flex-direction: column;
				flex: 1 0 calc(50% - var(--md-gap));
				border: 1px solid var(--body-colour);
				border-radius: var(--curviness);
				padding: var(--md-padding);

				@media screen and (max-width: 720px) {
					padding: var(--sm-padding);
				}

				h1 {
					justify-content: center;
				}

				ul {
					flex: 1 1 100%;
					margin-bottom: var(--md-gap);

					@media screen and (max-width: 720px) {
						padding-left: var(--sm-gap);
					}
				}

				.buttons {
					display: flex;
					gap: var(--sm-gap);

					.button {
						display: flex;
						width: 100%;
						flex: 1 1 auto;
						padding: var(--sm-padding);
						text-decoration: none;
						text-align: center;
						align-items: center;
						justify-content: center;
						border-radius: var(--curviness);

						&.disabled {
							opacity: 0.75;
							cursor: default;
						}

						&.boku {
							&.primary {
								background: var(--bokutachi-colour);
							}

							&.secondary {
								border: 1px solid var(--bokutachi-colour);
							}
						}

						&.kamai {
							&.primary {
								background: var(--kamaitachi-colour);
							}

							&.secondary {
								border: 1px solid var(--kamaitachi-colour);
							}
						}
					}
				}
			}
		}

		.screenshots {
			display: flex;
			flex-wrap: wrap;
			gap: var(--sm-gap);
			padding: var(--sm-gap) 0;

			img {
				width: 100%;
				min-width: 300px;
				flex: 1 1 auto;
				object-fit: contain;
			}
		}
	}

	.footer {
		display: flex;
		flex-wrap: wrap;
		flex: 0 0 auto;
		gap: var(--sm-gap);
	}
}
