// Theme colors
$primary: $tachi-primary;
$primary-hover: $tachi-primary-hover;
$primary-light: #e888af;

$secondary: #605a5c;
$secondary-hover: #7e7678;
$secondary-light: #c3b9bb;

$info: $tachi-info;
$info-hover: $tachi-info-hover;
$info-light: #A4B9D2;