// Bootstrap
@import "bootstrap-scss/_mixins.scss";
@import "variables.demo";
@import "variables.bootstrap";

.example-highlight > pre {
	background: none transparent !important;
	margin: 0 !important;
	padding-top: 0.5rem;
	code {
		overflow-y: auto;
		display: block;

		span {
			background: none transparent !important;
		}
	}
}

.json > pre {
	background: none #fff !important;
}

.example-code > .json {
	background: none #fff !important;
}

.symbol.symbol-45 > svg {
	width: 100%;
	max-width: 45px;
	height: 45px;
}

.react-bootstrap-table {
	overflow-x: auto;
}

.react-bootstrap-table {
	th {
		outline: none;

		&.sortable {
			.svg-icon-sort {
				opacity: 0;
			}

			&:hover {
				cursor: pointer;

				.svg-icon-sort {
					opacity: 1;
				}
			}
		}
	}

	.table.table-head-custom thead tr {
		.sortable-active {
			color: #6993ff !important;
		}
	}
}

.cursor-default {
	cursor: default !important;
}

.display-block {
	display: block;
}

.fading-image-td-left {
	position: relative;
	z-index: 1;

	&:before {
		content: "";
		display: block;
		background-image: var(--image-url);
		mask-image: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
		-webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
		background-size: cover;
		background-repeat: no-repeat;
		background-position: inherit;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
}

.fading-image-td-right {
	position: relative;
	z-index: 1;

	&:before {
		content: '';
		display: block;
		background-image: var(--image-url);
		mask-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
		-webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
		background-size: cover;
		background-repeat: no-repeat;
		background-position: inherit;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}
}

.activity-timeline {
	@include media-breakpoint-down(sm) {
		.timeline-item {
			margin-bottom: 1rem;
			padding-bottom: 1rem !important;
			position: relative;
		}

		.timeline-item:after {
			display: block;
			width: 100%;
			content: '';
			position: absolute;
			bottom: 0;
			border-bottom: 1px $secondary solid;
		}
	}

	.timeline-content {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;

		@include media-breakpoint-up(lg) {
			margin-right: 2rem;
		}


		.timeline-content-inner {
			display: flex;
			justify-content: space-between;
			align-items: center;

			@include media-breakpoint-down(sm) {
				flex-wrap: wrap;
				flex-direction: column;
			}
		}

		.timeline-content-title {
			text-align: left;

			@include media-breakpoint-up(lg) {
				width: 70%;
			}

			@include media-breakpoint-down(sm) {
				display: block;
				align-self: start;
			}
		}

		.timeline-content-timestamp {
			text-align: right;
			@include media-breakpoint-down(sm) {
				margin-top: 1rem;
				align-self: end;
			}
		}
	}
}

.quest-anchor {
	scroll-margin-top: 100px;
}

.tooltip-max > .tooltip-inner {
	width: 100%;
	max-width: unset !important;
}

@include media-breakpoint-up(lg) {
	.MuiTabs-flexContainer {
		width: 100%;
		justify-content: space-around
	}
}

