/* poppins-regular - latin_latin-ext */
@font-face {
	font-display: fallback;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 400;
	src: url("@fonts/poppins-v20-latin_latin-ext-regular.woff2") format("woff2");
}
/* poppins-500 - latin_latin-ext */
@font-face {
	font-display: swap;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 500;
	src: url("@fonts/poppins-v20-latin_latin-ext-500.woff2") format("woff2");
}
/* poppins-600 - latin_latin-ext */
@font-face {
	font-display: swap;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 600;
	src: url("@fonts/poppins-v20-latin_latin-ext-600.woff2") format("woff2");
}
/* poppins-700 - latin_latin-ext */
@font-face {
	font-display: swap;
	font-family: "Poppins";
	font-style: normal;
	font-weight: 700;
	src: url("@fonts/poppins-v20-latin_latin-ext-700.woff2") format("woff2");
}
/* m-plus-2-regular - japanese */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "M PLUS 2";
	font-style: normal;
	font-weight: 400;
	src: url("@fonts/m-plus-2-v6-japanese-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* m-plus-2-500 - japanese */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "M PLUS 2";
	font-style: normal;
	font-weight: 500;
	src: url("@fonts/m-plus-2-v6-japanese-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* m-plus-2-600 - japanese */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "M PLUS 2";
	font-style: normal;
	font-weight: 600;
	src: url("@fonts/m-plus-2-v6-japanese-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* m-plus-2-700 - japanese */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "M PLUS 2";
	font-style: normal;
	font-weight: 700;
	src: url("@fonts/m-plus-2-v6-japanese-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
