@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(@fonts/Poppins-Regular.woff2) format("woff2");
}
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url(@fonts/Poppins-Medium.woff2) format("woff2");
}
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: url(@fonts/Poppins-SemiBold.woff2) format("woff2");
}
@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url(@fonts/Poppins-Bold.woff2) format("woff2");
}
@font-face {
    font-family: "M PLUS 2";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(@fonts/MPLUS2-Regular.woff2) format("woff2");
}
@font-face {
    font-family: "M PLUS 2";
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url(@fonts/MPLUS2-Medium.woff2) format("woff2");
}
@font-face {
    font-family: "M PLUS 2";
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: url(@fonts/MPLUS2-SemiBold.woff2) format("woff2");
}
@font-face {
    font-family: "M PLUS 2";
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url(@fonts/MPLUS2-Bold.woff2) format("woff2");
}