// Import all custom styles and define some miscellaneous and utility classes
@import "layout/layout";
@import "components/components";
@import "pages/pages";
@import "keyframes";
@import "utilities";

/*.bg-hover:hover {
	background-color: $tachi-hover;
}*/

/*
@include media-breakpoint-up(lg) {
	.session-raise-container {
		width: 100%;
		display: flex;
	}
}
@include media-breakpoint-down(md) {
	.session-raise-container {
		width: 100%;
		display: flex;
		flex-direction: column;
	}
} */