// Import all custom styles and define some miscellaneous and utility classes
@import "layout/layout";
@import "components/components";
@import "pages/pages";

.hover-opacity {
	// only used on breakcrumbs
	transition: opacity 0.15s ease;
	&:hover {
		opacity: 100 !important;
	}
}

.bg-hover:hover {
	background-color: $tachi-hover;
}

/*
@include media-breakpoint-up(lg) {
	.session-raise-container {
		width: 100%;
		display: flex;
	}
}
@include media-breakpoint-down(md) {
	.session-raise-container {
		width: 100%;
		display: flex;
		flex-direction: column;
	}
} */

.gentle-link {
	// override primary colour for links
	color: var(--bs-body-color);
	&:hover {
		color: var(--bs-link-hover-color);
	}
	&:focus-visible {
		color: var(--bs-link-hover-color);
	}
}

.fullscreen {
	// used by error messages
	inset: 0;
	position: fixed;
	background-color: var(--t-background);
	z-index: 8888;
}

.form-length-validation {
	// class selector for a numerical form validation overlay
	position: absolute;
	z-index: 10;
	right: 2.5em;
	align-self: center; // browser says it has no effect but i can say with absolute confidence that it absolutely does
	transition: color 150ms ease-in-out;
}

.undraggable {
	// combo class to make items undraggable
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.bg-transition {
	// transition any background
	transition: background-color 75ms ease-in-out;
}

.hide-scrollbar {
	// combo class to hide the scrollbar on any scrollable element
	scrollbar-width: none;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: none;
	&::-webkit-scrollbar {
		display: none;
	}
}

.content-box {
	box-sizing: content-box;
}

@mixin animate-rotate($degrees) {
	.animate-rotate-#{$degrees} {
		transition: transform 0.25s ease;

		&.show {
			transform: rotate(#{$degrees}deg);
		}
	}
}

@include animate-rotate(90);
@include animate-rotate(180);

@mixin text-hover($colour) {
	@each $k, $v in $theme-colors {
		.text-hover-#{$k} {
			transition: $nav-link-transition;
			&:hover {
				color: #{$v};
			}
		}
	}
}

@include text-hover($theme-colors);
