@import "layout/layout";
@import "components/components";
@import "pages/pages";

.hover-opacity {
    transition: opacity .15s ease;
    &:hover {
        opacity: 100 !important;
    }
}

// Some selected styles from old base.scss

@include media-breakpoint-up(lg) {
	.session-raise-container {
		width: 100%;
		display: flex;
	}
}
@include media-breakpoint-down(md) {
	.session-raise-container {
		width: 100%;
		display: flex;
		flex-direction: column;
	}
}

.gentle-link {
	color: var(--bs-body-color);
	&:hover {
	color: var(--t-primary-hover);
	}
}

.fullscreen {
	inset: 0;
	position: fixed;
	background-color: var(--t-background);
	z-index: 8888;
}