.btn-clear {
    border: transparent !important;
    &:not(:focus),
    &:not(:focus-visible) {
        box-shadow: none !important;
    }
    //--#{$prefix}btn-bg: ;
    //--#{$prefix}btn-border-color: ;
    //--#{$prefix}btn-hover-color: ;
    --#{$prefix}btn-hover-bg: rgba(var(--#{$prefix}tertiary-bg-rgb), 0.5);
    --#{$prefix}btn-hover-border-color: #b02a37;
    //--#{$prefix}btn-focus-shadow-rgb: ;
    //--#{$prefix}btn-active-color: ;
    --#{$prefix}btn-active-bg: rgba(var(--#{$prefix}tertiary-bg-rgb), 0.25);
    //--#{$prefix}btn-active-border-color: ;
    --#{$prefix}btn-active-shadow: var(--#{$prefix}box-shadow);
    --#{$prefix}btn-disabled-color: rgba(var(--#{$prefix}body-color-rgb), 0.65);
    //--#{$prefix}btn-disabled-bg: ;
    //--#{$prefix}btn-disabled-border-color: ;
    --#{$prefix}btn-box-shadow: none;
    --#{$prefix}btn-focus-box-shadow: #{$focus-ring-box-shadow};
    &:focus-visible {
        //color: var(--#{$prefix}btn-hover-color);
        background-color: var(--#{$prefix}btn-hover-bg);
        //border-color: var(--#{$prefix}btn-hover-border-color);
        box-shadow: var(--#{$prefix}btn-focus-box-shadow);
    }
}
