.scoreinfo-grid-minimap {
	display: grid;
	grid-template-columns: repeat(auto-fill, 20px);
	gap: 0.5rem;

	&-element {
		width: 20px;
		height: 20px;
		background-color: var(--#{$prefix}tertiary-bg);
		border-radius: var(--#{$prefix}border-radius-sm);
		outline: 1px var(--#{$prefix}dark) solid;
	}

	&-element-recent {
		box-shadow: inset 0px 0px 5px goldenrod;
	}
}

[data-bs-theme="light"] {
	.scoreinfo-grid-minimap-element {
		outline: 1px var(--#{$prefix}border-color-translucent) solid;
		filter: brightness(0.98) saturate(1.25);
	}
}
