.scoreinfo-grid-minimap {
	display: grid;
	grid-template-columns: repeat(auto-fill, 30px);
	row-gap: 5px;
	column-gap: 2px;
	justify-items: center;

	&-element {
		width: 20px;
		height: 20px;
		outline: 1px black solid;
		display: flex;
		justify-content: center;
		align-content: center;
		text-align: center;
		color: white;
		font-weight: 900;
	}

	&-element-recent {
		box-shadow: inset 0px 0px 5px goldenrod;
	}
}
