.tachi-navbar {
	display: inline-flex;
	position: relative;
	outline: none;
	width: 100%;
	background-color: var(--bs-secondary-bg);
	overflow-x: auto;
	overflow-y: hidden;
	scroll-behavior: smooth;
	@extend .scrollbar-hide;

	&-item {
		padding: 1rem 2rem;
		outline: none;
		text-decoration: none;
		text-wrap: nowrap;
		user-select: none;
		z-index: 20;
		&:focus-visible {
			text-decoration: underline;
			@extend .text-primary;
		}
	}

	&-button {
		%navbar-button {
			position: absolute;
			top: 0;
			border: none;
			height: 100%;
			color: rgba(var(--bs-body-color-rgb), 0.8);
			transition: opacity, ease-in-out, $transition-duration;
			z-index: 40;
			@extend .animate-fade-in;
			&:hover,
			&:focus {
				color: rgba(var(--bs-body-color-rgb), 1);
			}
		}

		$navbar-button-gradient: rgba(var(--bs-secondary-bg-rgb), 0) 0%,
			rgba(var(--bs-secondary-bg-rgb), 1) 60%;

		&-left {
			@extend %navbar-button;
			left: 0;
			padding: 0 0.85rem 0 0.65rem;
			background: linear-gradient(270deg, $navbar-button-gradient);
		}

		&-right {
			@extend %navbar-button;
			right: 0;
			padding: 0 0.65rem 0 0.85rem;
			background: linear-gradient(90deg, $navbar-button-gradient);
		}
	}

	&-indicator {
		position: absolute;
		bottom: 2px;
		height: 2px;
		border-radius: var(--bs-border-radius);
		background-color: var(--bs-primary);
		transition-property: left, width;
		transition-duration: $transition-duration-lg;
		transition-timing-function: ease-in-out;
		z-index: 10;
	}
}
