.tachi-navbar {
	display: inline-flex;
	position: relative;
	outline: none;
	width: 100%;
	background-color: var(--bs-secondary-bg);
	overflow-x: auto;
	overflow-y: hidden;
	scroll-behavior: smooth;
	@extend .scrollbar-hide;

	&-item {
		padding: 1rem 2rem;
		outline: none;
		text-decoration: none;
		text-wrap: nowrap;
		user-select: none;
		z-index: 20;
		&:focus-visible {
			text-decoration: underline;
			@extend .text-primary;
		}
	}

	&-button {
		@mixin navbar-button($position) {
			position: absolute;
			top: 0;
			left: if($position == left, 0, unset);
			right: if($position == right, 0, unset);
			padding: if($position == left, 0 0.85rem 0 0.65rem, 0 0.65rem 0 0.85rem);
			border: none;
			height: 100%;
			color: rgba(var(--bs-body-color-rgb), 0.8);
			background: linear-gradient(
				if($position == left, 270deg, 90deg),
				rgba(var(--bs-secondary-bg-rgb), 0) 0%,
				rgba(var(--bs-secondary-bg-rgb), 1) 60%
			);
			transition: opacity, ease-in-out, $transition-duration;
			z-index: 40;
			@extend .animate-fade-in;
			&:hover,
			&:focus {
				color: rgba(var(--bs-body-color-rgb), 1);
			}
		}

		&-left {
			@include navbar-button(left);
		}

		&-right {
			@include navbar-button(right);
		}
	}

	&-indicator {
		position: absolute;
		bottom: 2px;
		height: 2px;
		border-radius: var(--bs-border-radius);
		background-color: var(--bs-primary);
		transition-property: left, width;
		transition-duration: $transition-duration-lg;
		transition-timing-function: ease-in-out;
		z-index: 10;
	}
}
