.timeline {
	position: relative;

	.timeline-bar {
		position: absolute;
		display: block;
		width: 1px;
		height: 100%;
		background-color: var(--bs-gray-400);
		z-index: 2;
	}

	.timeline-item {
		display: flex;
		align-items: center;
		width: 100%;
		justify-content: space-between;
		border-radius: var(--bs-border-radius);
		margin: 0 0.5rem;

		@include media-breakpoint-down(md) {
			margin: 0.5rem 0;
			padding: 0.5rem 0 !important;
			position: relative;
		}

		&:after {
			display: block;
			width: 100%;
			content: "";
			position: absolute;
			bottom: -0.275rem;
			border-bottom: 1px var(--bs-secondary) solid;
		}
        
		&.timeline-hover:hover {
			background-color: var(--bs-secondary-bg);
		}

		.timeline-badge {
			height: 0.75rem;
			width: 0.75rem;
			border-radius: 100%;
			position: absolute;
			z-index: 3;
			@include media-breakpoint-down(md) {
				transform: translateX(-0.35rem);
			}
			@include media-breakpoint-up(md) {
				transform: translateX(-0.835rem);
			}
		}

		.timeline-content {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			padding: 1rem 1rem;
			width: 100%;

			&-inner {
				display: flex;
				justify-content: space-between;
				align-items: center;
				width: 100%;

				@include media-breakpoint-down(md) {
					flex-wrap: wrap;
					flex-direction: column;
				}
			}

			&-title {
				text-align: left;

				@include media-breakpoint-up(lg) {
					width: 70%;
				}

				@include media-breakpoint-down(md) {
					display: block;
					align-self: start;
				}
			}

			&-timestamp {
				text-align: right;
				@include media-breakpoint-down(md) {
					align-self: end;
					margin: 0.5rem 0;
				}
			}
		}
	}
}
