node_modules
js
# .vscode
logs

src/secrets.ts

.nyc_output
coverage
.env
.setup_env

scripts/arc-db-sync/charts.json
scripts/arc-db-sync/songs.json
scripts/validate-database-errs/*

# various nonsense - __MDB-PARSERS is a special folder where we only expect
# main and import.ts files. The rest of the files are presumably music data/db files that
# we don't need to commit
scripts/__MDB-PARSERS/*/*
!scripts/__MDB-PARSERS/*/main.ts
!scripts/__MDB-PARSERS/*/import.ts