node_modules
js
# .vscode
logs

# nonsense snyk stuff
.dccache

.nyc_output
coverage
.env
.setup_env
failed-tests.txt

# config files
conf.json5

scripts/arc-db-sync/charts.json
scripts/arc-db-sync/songs.json
scripts/validate-database-errs/*

scripts/__JSON-TO-KTDB/**/*.json

src/lib/env/config.json
src/datasets/text-files/splash-text.txt
src/datasets/text-files/pseudonyms.txt

local-cdn
client
