node_modules
js
# .vscode
logs

src/secrets.ts

.nyc_output
coverage
.env
.setup_env

scripts/arc-db-sync/charts.json
scripts/arc-db-sync/songs.json
scripts/validate-database-errs/*

scripts/__MDB-PARSERS/*/*
