// tachi theme colours
$primary:               $tachi-primary;
$primary-hover:         $tachi-primary-hover;
$primary-light:         #e888af;

$secondary:             #605a5c;
$secondary-hover:       #7e7678;
$secondary-light:       #c3b9bb;

$info:                  $tachi-info;
$info-hover:            $tachi-info-hover;
$info-light:            #A4B9D2;

$body-bg:               $tachi-background;
$body-color:            $gray-100;

// all colours
$blue:                  #0d6efd !default;
$indigo:                #6610f2 !default;
$purple:                #6f42c1 !default;
$pink:                  #d63384 !default;
$red:                   #dc3545 !default;
$orange:                #fd7e14 !default;
$yellow:                #ffc107 !default;
$green:                 #198754 !default;
$teal:                  #20c997 !default;
$cyan:                  #0dcaf0 !default;

// border variables

$border-style:                  none;
$border-color:                  $gray-300 !default;
$border-color-translucent:      rgba($black, .175) !default;

// shadow variables

$box-shadow:                    0 0 0.725rem 0.5rem rgba(42, 42, 42, 0.8);

// dropdown dark variables
$dropdown-dark-bg:      $tachi-lightground;

// font stuff

$font-family-sans-serif:        "Poppins", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size-root:                13px;
$font-size-sm: $font-size-base * 1;
$font-size-lg: $font-size-base * 1;

$font-weight-base:              500;

// modal/offcanvas variables

$modal-content-bg:  $tachi-background;
$modal-content-border-color:    transparent;

$offcanvas-bg-color:$modal-content-bg;
$offcanvas-horizontal-width:    360px;
$offcanvas-border-color:        $modal-content-border-color