/* bootstrap needs all of these as sass variables to be happy
but I will make them css variables anyway and put them in :root */
$tachi-secondary:           hsl(0, 0%, 45%);
$tachi-background:          rgb(19, 19, 19);
$tachi-lightground:         rgb(43, 41, 43);
$tachi-overground:          rgb(82, 78, 82);
$tachi-hover:               rgba(255, 255, 255, 0.02);
$translucent:          rgba(255, 255, 255, 0.04);

$tachi-primary-hover:       adjust-color($tachi-primary, $saturation: -10%, $lightness: 20%);
$tachi-secondary-hover:     adjust-color($tachi-secondary, $saturation: -10%, $lightness: 20%);
$tachi-info-hover:          adjust-color($tachi-info, $saturation: -10%, $lightness: 20%);

:root{
// colours
--t-primary:                #{$tachi-primary};
--t-primary-hover:          #{$tachi-primary-hover};
--t-secondary:              #{$tachi-secondary};
--t-secondary-hover:        #{$tachi-secondary-hover};
--t-info:                   #{$tachi-info};
--t-info-hover:             #{$tachi-info-hover};
--t-background:             #{$tachi-background};
--t-lightground:            #{$tachi-lightground};
--t-overground:             #{$tachi-overground};
--t-hover:                  #{$tachi-hover};

// shadows
--t-shadow-xs:              0 0 0.875rem 0 hsla(0, 0%, 0%, 0.3);
--t-shadow-sm:              0 0 1.15rem 0.75rem hsla(0, 0%, 0%, 0.325);
--t-shadow-md:              0 0 1.95rem 0.175rem hsla(0, 0%, 0%, 0.35);
--t-shadow-lg:              0 0 2.75rem 0.275rem hsla(0, 0%, 0%, 0.375);
}

