.landing-page {
	.hero {
		width: 100vw;
		height: 100vh;

		.hero-bg-image {
			width: 100vw;
			height: 100vh;
			z-index: 1;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			position: absolute;
		}

		.hero-bg-fader {
			width: 100vw;
			height: 100vh;
			z-index: 2;
			opacity: 0.75;
			position: absolute;
		}

		.hero-content-wrapper {
			width: 100vw;
			height: 100vh;
			z-index: 3;
			position: absolute;
		}

		.hero-content-wrapper > .row {
			height: calc(100vh - 150px);
		}

		@media only screen and (max-width: 600px) {
			.hero-content-wrapper > .row {
				height: calc(100vh - 80px);
			}
		}


	}
}
