site_name: Tachi Documentation
site_description: Documentation for Kamaitachi, Bokutachi and related things.
site_author: zkldi
site_url: https://docs.tachi.ac

watch:
  - "docs/"
  - "mkdocs.yml"

theme:
  name: material
  features:
    - navigation.instant
    - navigation.tabs
  palette:
    - scheme: slate
      primary: deep purple
      accent: deep purple
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
    - scheme: default
      primary: deep purple
      accent: deep purple
      toggle:
        icon: material/weather-night
        name: Switch to dark mode

nav:
  - Getting Started:
      - "index.md"
      - Contributing:
          - "contributing/index.md"
          - "contributing/setup.md"
          - "contributing/components.md"
          - Component-Specific Guides:
              - "contributing/components/issues.md"
              - "contributing/components/documentation.md"
              - "contributing/components/seeds.md"
              - "contributing/components/core.md"

          - Cookbook:
              - "contributing/cookbook/iidx-mdb.md"
              - "contributing/cookbook/sdvx-mdb.md"
              - "contributing/cookbook/ddr-mdb.md"
              - "contributing/cookbook/bms-tables.md"

      - Supporting New Games:
          - "game-support/index.md"

          - Common Config:
              - "game-support/common-config/index.md"
              - "game-support/common-config/metrics.md"
              - "game-support/common-config/metric-groups.md"
              - "game-support/common-config/match-types.md"
              - "game-support/common-config/versions.md"

          - "game-support/server-impl.md"
          - "game-support/client-impl.md"
          - "game-support/seeds.md"

          - Game Information:
              - "game-support/games/iidx-SP.md"
              - "game-support/games/iidx-DP.md"
              - "game-support/games/museca-Single.md"
              - "game-support/games/chunithm-Single.md"
              - "game-support/games/bms-7K.md"
              - "game-support/games/bms-14K.md"
              - "game-support/games/gitadora-Gita.md"
              - "game-support/games/gitadora-Dora.md"
              - "game-support/games/jubeat-Single.md"
              - "game-support/games/maimai-Single.md"
              - "game-support/games/maimaidx-Single.md"
              - "game-support/games/popn-9B.md"
              - "game-support/games/sdvx-Single.md"
              - "game-support/games/usc-Controller.md"
              - "game-support/games/usc-Keyboard.md"
              - "game-support/games/wacca-Single.md"
              - "game-support/games/pms-Controller.md"
              - "game-support/games/pms-Keyboard.md"
              - "game-support/games/itg-Stamina.md"
              - "game-support/games/arcaea-Touch.md"
              - "game-support/games/ongeki-Single.md"
              - "game-support/games/ddr-SP.md"
              - "game-support/games/ddr-DP.md"          

  - Wiki:
      - "wiki/index.md"
      - "wiki/rules.md"
      - "wiki/games.md"
      - "wiki/features.md"
      - "wiki/pbs-scores.md"
      - "wiki/filter-directives.md"
      - "wiki/lamps.md"
      - "wiki/score-oddities.md"

  - API Reference:
      - "api/index.md"
      - "api/auth.md"
      - "api/terminology.md"

      - Endpoints:
          - "api/routes/example.md"
          - "api/routes/status.md"
          - "api/routes/import.md"
          - "api/routes/auth.md"
          - "api/routes/users.md"
          - "api/routes/user-gamept.md"
          - "api/routes/user-integrations.md"
          - "api/routes/sessions.md"
          - "api/routes/scores.md"
          - "api/routes/search.md"
          - "api/routes/games.md"
          - "api/routes/gpt.md"
          - "api/routes/admin.md"
          - "api/routes/ugpt-showcase.md"
          - "api/routes/api-tokens.md"
          - "api/routes/oauth2.md"
          - "api/routes/clients.md"
          - "api/routes/config.md"
          - "api/routes/imports.md"
          - "api/routes/gpt-targets.md"
          - "api/routes/ugpt-targets.md"

      - Webhooks:
          - "api/webhooks/main.md"
          - "api/webhooks/class-update-v1.md"

  - Codebase Reference:
      - "codebase/index.md"

      - Setup:
          - "codebase/setup/config.md"

      - Infrastructure:
          - "codebase/infrastructure/logging.md"
          - "codebase/infrastructure/branches.md"
          - "codebase/infrastructure/database-seeds.md"

      - OAuth2:
          - "codebase/infrastructure/api-clients.md"
          - "codebase/infrastructure/oauth2.md"
          - "codebase/infrastructure/file-flow.md"

      - Structure:
          - "codebase/structure/style.md"
          - "codebase/structure/filesystem.md"
          - "codebase/structure/testing.md"

      - BATCH-MANUAL:
          - "codebase/batch-manual/index.md"
          - "codebase/batch-manual/direct-manual.md"

      - Score Importing:
          - "codebase/import/overview.md"
          - "codebase/import/main.md"
          - "codebase/import/import-types.md"
          - "codebase/import/parse-conv.md"
          - "codebase/import/conv-failures.md"
          - "codebase/import/importing.md"
          - "codebase/import/orphans.md"
          - "codebase/import/parse-ipi.md"
          - "codebase/import/sessions.md"
          - "codebase/import/pbs.md"
          - "codebase/import/ugs.md"
          - "codebase/import/goals.md"
          - "codebase/import/quests.md"
          - "codebase/import/import-doc-time.md"

      - Implementation Details:
          - "codebase/implementation-details/details.md"
          - "codebase/implementation-details/search.md"
          - "codebase/implementation-details/songs-charts.md"
          - "codebase/implementation-details/game-configuration.md"
          - "codebase/implementation-details/score-id.md"
          - "codebase/implementation-details/goal-id.md"
          - "codebase/implementation-details/goals-quests.md"

markdown_extensions:
  - admonition
  - pymdownx.highlight
  - pymdownx.superfences
  - abbr
  - pymdownx.snippets
  - footnotes
  - toc:
      toc_depth: 2
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.tabbed:
      alternate_style: true

extra_javascript:
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
