.nav-link {
    @extend .rounded;
}

.credits-easter-egg {
    transition: text-decoration-color 120ms ease-in-out;
    text-decoration: underline;
    text-decoration-color: transparent;
    &:hover {
        text-decoration-color: var(--#{$prefix}body-color);
    }
}

body,
header {
    @extend .transition-bg;
    @extend .transition-color;
}

code {
    padding: #{$kbd-padding-y} #{$kbd-padding-x};
    border-radius: var(--#{$prefix}border-radius-sm);
}
