.nav-link {
    @extend .rounded;
}

.credits-easter-egg {
    transition: text-decoration-color 120ms ease-in-out;
    text-decoration: underline;
    text-decoration-color: rgba($link-color, 0);
    &:hover {
        text-decoration-color: rgba($link-color, 1);
    }
}

body,
header {
    @extend .transition-bg;
}

/* debug
.undefined, .false, .true, .null {
    color: yellow;
    background-color: magenta;
}*/
