[data-bs-theme="light"] {
    code {
        background-color: $body-tertiary-bg;
    }
    .card {
        --#{$prefix}card-border-color: var(--#{$prefix}border-color-translucent);
    }
    .table {
        --fading-image-opacity: 0.5;
    }
}

[data-bs-theme="dark"] {
    input[type="file"] {
        &::file-selector-button {
            background-color: var(--#{$prefix}tertiary-bg);
        }
        &:hover:not(:disabled):not([readonly])::file-selector-button {
            background-color: tint-color($body-tertiary-bg-dark, $btn-hover-bg-tint-amount);
        }
    }
    code {
        background-color: var(--#{$prefix}black);
    }
    .table {
        --fading-image-opacity: 0.2;
        --#{$prefix}table-striped-bg: #{$table-striped-bg-dark};
        --#{$prefix}table-active-bg: #{$table-active-bg-dark};
        --#{$prefix}table-hover-bg: #{$table-hover-bg-dark};
        //--#{$prefix}table-border-color: #{$table-border-color-dark};
    }
    .form-check-input:checked {
        --#{$prefix}form-check-bg-image: #{escape-svg($form-check-input-checked-bg-image-dark)};
    }
    .form-check-input[type="radio"]:checked {
        --#{$prefix}form-check-bg-image: #{escape-svg($form-check-radio-checked-bg-image-dark)};
    }
}

[data-bs-theme="oled"] {
    @extend [data-bs-theme="dark"];
    --#{$prefix}body-bg: #000;
    --#{$prefix}body-bg-rgb: 0, 0, 0;
    code {
        background-color: var(--#{$prefix}tertiary-bg);
    }
    .card {
        --#{$prefix}card-border-color: var(--#{$prefix}border-color-translucent);
        --#{$prefix}card-bg: var(--#{prefix}body-bg);
    }
}
