html,
body,
#root {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}

a {
    transition: color 80ms linear;
    &:focus-visible {
        outline: 0;
        box-shadow: none;
        border-color: var(--t-primary);
    }
}

#tachi-content {
    flex: 1 0 auto;
    @include media-breakpoint-down(md) {
        padding-top: 45px;
    }
    @include media-breakpoint-up(md) {
        padding-top: 80px;
    }
}

.border-transparent {
    border-color: transparent;
}