#tachi-header {
    height: 80px;
    background-color: $tachi-background;
    transition: height 150ms ease-in-out;

    @include media-breakpoint-down(md) {
        height: 45px;
        background-color: transparent;
    }

    .navbar {
        transition: height 150ms ease-in-out;
        height: 80px;

        @include media-breakpoint-down(md) {
            height: 45px;
        }

        &-brand {
            margin-left: 0.35rem;
            height: max-content;

            @include media-breakpoint-down(md) {
                display: none;
            }
        }

        &-nav {
            .header-link {
                &.show {
                    color: currentColor;
                }

                &:hover,
                &:focus {
                    color: currentColor;
                }
            }

            .nav-item:nth-child(n + 2) {
                margin-left: 0.5rem;
            }
        }
    }

    #endbar {
        .nav-item {
            padding: 0;
            &:not(:last-child) {
                margin-right: 0.4rem;
            }
        }

        #user-dropdown {
            .dropdown-toggle {
                display: flex;
                justify-content: center;
                align-items: center;

                @include media-breakpoint-down(lg) {
                    width: 40px;
                    #user-dropdown-text {
                            display: none;
                    }
                }

                &::after {
                    display: none;
                }
            }

            .user-dropdown-menu {
                width: 30rem;
                transition: margin 150ms ease-in-out;
                @include media-breakpoint-down(md) {
                margin-top: 2.5px;
                }
                .user-dropdown-item {
                    white-space: break-spaces;
                }
            }            
        }
    }

    .dropdown-menu {
        margin-top: 17.5px;
        height: max-content;
        box-shadow: var(--t-shadow-lg);
        border: var(--bs-border-width);

        &.show {
            animation: dropdown-menu-fade-in 0.3s ease 1;
        }

        @keyframes dropdown-menu-fade-in {
            0% {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
    }
}

.dropdown-item {
    border-radius: var(--bs-border-radius);
    transition: color 120ms ease-in-out, background-color 120ms ease-in-out, border-color 120ms ease-in-out, box-shadow 120ms ease-in-out;
    margin: .35rem 0;
    &.active {
        // override bootstrap default behaviour because it isn't ideal in this case
        color: currentColor;
        background-color: var(--t-lightground);
        &:hover, &:focus {
            // I shouldn't have to do this
            background-color: var(--bs-dropdown-link-hover-bg);
        }
    }
}

@include media-breakpoint-down(md) { // This is highly customised because I'd rather just do it this way for this one specific componant
    .offcanvas.offcanvas-start {
        .offcanvas-body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .navbar-nav {
                align-items: flex-start;
                margin-left: 0 !important;

                .nav-item {
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    width: 100%;
                    
                    .dropdown-menu {
                        padding: var(--bs-dropdown-padding-y) 0.25em;
                    }
                }
            }
        }
    }
}

#subheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-down(md) {
        height: 125px;
    }

    @include media-breakpoint-up(md) {
        height: 200px;
    }

    #subheader_content {
        flex-grow: 1;
        transition: flex 150ms ease-in-out;

        @include media-breakpoint-down(md) {
            flex-grow: 0;
        }
    }

    #breadcrumbs {
        display: flex;
        align-items: center;

        @include media-breakpoint-down(md) {
            display: none;
        }
    }
}
