.header-button {
	@extend .btn;
	@extend .btn-primary;
	@extend .text-body;
	@extend .my-md-1;
	@extend .my-md-5;
	background-color: transparent !important;
	border-color: transparent !important;
	--bs-btn-active-color: currentColor;
	--bs-btn-active-bg: #{$translucent};
	--bs-btn-active-border-color: transparent;
	@extend .d-flex;
	@extend .align-items-center;

	@include media-breakpoint-down(md) {
		height: 40px !important;
	}

	@include media-breakpoint-up(md) {
		height: 45px !important;
	}

	&:hover,
	&.show,
	&:focus {
		border-color: transparent !important;
		background-color: $translucent !important;
	}
}

.header-icon {
	@extend .header-button;
	@extend .align-items-center;
    @extend .justify-content-center;
    @extend .fs-3;
	@include media-breakpoint-down(md) {
		width: 40px !important;
	}

	@include media-breakpoint-up(md) {
		width: 45px !important;
	}
}

header {
	height: 80px;
	transition: height 150ms ease-in-out;

	@include media-breakpoint-down(md) {
		height: 45px;
	}

	.navbar {
		height: 80px;

		@include media-breakpoint-down(md) {
			height: 45px;
		}

		#logo {
			@extend .d-none;
			@extend .d-md-block;
		}
	}
}

.header-dropdown {
	& > a,
	& > button {
		@extend .header-button;
        &.disabled {
            background-color: transparent;
            border-color: transparent;
        }
	}
	& > a {
		@extend .me-2;
	}

	& > a::after {
		content: "\f078";
		border: none;
		@extend .ms-3;
		@extend .small;
		font-family: "Font Awesome 6 Free";
		font-weight: 900;
	}

	& > button {
		@extend .ms-2;
		@include media-breakpoint-down(lg) {
			width: 45px;
		}
	}

	& > button::after {
		@extend .d-none;
	}
}

.dropdown-item.active {
		// override bootstrap default behaviour because it isn't ideal in this case
		&:hover,
		&:focus {
			background-color: var(--bs-dropdown-link-hover-bg);
		}
	}

#subheader {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

	@include media-breakpoint-down(md) {
		height: 125px;
	}

	@include media-breakpoint-up(md) {
		height: 200px;
	}

	#subheader_content {
		flex-grow: 1;
		transition: flex 150ms ease-in-out;

		@include media-breakpoint-down(md) {
			flex-grow: 0;
		}
	}

	#breadcrumbs {
		display: flex;
		align-items: center;

		@include media-breakpoint-down(md) {
			display: none;
		}
	}
}
