.card-nav-icon {
	color: #999;
	transition: 100ms;

	&:hover {
		color: var(--bs-primary) !important;
	}
}

.stat-overview-card {
	box-shadow: black 0px 0px 2px 1px !important;
}

.gentle-link {
	color: var(--bs-body-color);

	&:hover {
		color: var(--bs-primary);
	}
}

.instructions-list {
	font-size: 1.2rem;
}

.instructions-list > li {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.privacy-policy > h2 {
	margin-top: 1rem;
}

.breakdown-hover-row:hover .breakdown-hover-highlight-button {
	opacity: 1;
}

.breakdown-hover-highlight-button {
	transition: opacity 0.3s;
	opacity: 0;
}

a:where(.MuiTab-root) {
	@extend .transition-color;
	&:hover {
		color: var(--#{$prefix}link-hover-color)
	}
}