.timeline {
    position: relative;
    .timeline-bar {
        position: absolute;
        display: block;
        width: 1px;
        height: 100%;
        background-color: var(--bs-gray-400);
        z-index: 2;
    }
    .timeline-item {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        border-radius: var(--bs-border-radius);
        margin: 0 .5rem;
        @include media-breakpoint-down(sm) {
            margin: .5rem 0;
            padding: .5rem 0 !important;
            position: relative;
        }
        &:after {
            display: block;
            width: 100%;
            content: "";
            position: absolute;
            bottom: -.275rem;
            border-bottom: 1px var(--bs-secondary) solid;
        }
        &.timeline-hover:hover {
            background-color: var(--bs-secondary-bg);
        }
        .timeline-badge {
            height: 0.75rem;
            width: 0.75rem;
            border-radius: 100%;
            position: absolute;
            z-index: 3;
            @include media-breakpoint-down(sm) {
                transform: translateX(-0.35rem);
            }
            @include media-breakpoint-up(sm) {
                transform: translateX(-0.875rem);
            }
        }
        .timeline-content {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            padding: 1rem 1rem;
            width: 100%;

            &-inner {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                @include media-breakpoint-down(sm) {
                    flex-wrap: wrap;
                    flex-direction: column;
                }
            }

            &-title {
                text-align: left;

                @include media-breakpoint-up(lg) {
                    width: 70%;
                }

                @include media-breakpoint-down(sm) {
                    display: block;
                    align-self: start;
                }
            }

            &-timestamp {
                text-align: right;
                @include media-breakpoint-down(sm) {
                    align-self: end;
                    margin: .5rem 0;
                }
            }
        }
    }
}
